<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/css/home.css">

    <title>Imdb Ratings</title>


    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5829141496303429"
     crossorigin="anonymous"></script>
</head>
<body>
    <div class="center">
        <h1>
          <span>IMDB Rating</span>
        
          <span>IMDB Rating</span>
          <span>IMDB Rating</span>
        
        </h1>
      </div>
    <!-- <h1>this is the website which will tell you the imdb score or any film</h1> -->
    <div class="main">
        <!-- <div class="center">
            <h1>
              <span>Enter the movie</span>
            
              <span>Enter the movie</span>
              <span>Enter the movie</span>
            
            </h1>
          </div> -->
    <form action="/submit_movie">
    <label for="name">Enter the name of the movie</label>
    <!-- <h1>Enter the name of the movie</h1> -->

    <input type="text" placeholder="enter here" name="movie" id="inpmoviemane">
    <button>submit</button>
</div>
</form>

</body>
</html>