<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/css/home.css">

    <title>Imdb Ratings</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Babylonica&display=swap" rel="stylesheet">


    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5829141496303429"
     crossorigin="anonymous"></script>
</head>
<body>
    <!-- <div class="center">
        <h1>
          <span>IMDB Rating</span>
        
          <span>IMDB Rating</span>
          <span>IMDB Rating</span>
        
        </h1>
      </div> -->
    <h1 class ="head1">Imdb Ratings</h1>
    <div class="main">
        <!-- <div class="center">
            <h1>
              <span>Enter the movie</span>
            
              <span>Enter the movie</span>
              <span>Enter the movie</span>
            
            </h1>
          </div> -->
    <form class="form" action="/submit_movie">
    <label class="lable" for="name">Enter the name of the movie</label>
    <!-- <h1>Enter the name of the movie</h1> -->

    <input type="text" placeholder="enter here" name="movie"   id="inpmoviemane">
    <button>submit</button>
</div>
</form>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5829141496303429"
     crossorigin="anonymous"></script>
<!-- firstadd -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5829141496303429"
     data-ad-slot="9509897234"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

</body>
</html>