body{
    background-image: url("././images/back.jpg");
    /* background-repeat: no-repeat; */
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.main{
    background-color: rgba(0, 0, 0, 0.3);
justify-self: center;
align-self: center;
display: flex;
height: 60vh;
width: 70vw;
flex-direction: column;
justify-content: center;
align-content: center;
align-items: center;
/* position: relative;
top: 29vh; */
}




body{
    margin:0;
    padding:0;
    /* font-family:sans-serif; */
    /* background:#000; */
    overflow:hidden;
  }
.head1{
  font-family: 'Babylonica', cursive;
  font-family: 'Julee', cursive;
  display: flex;
justify-content: center;
font-size: xxx-large;
color: #ffeb7e;
}
.form{
  display: flex;
flex-direction: column;
}
.lable{
  font-size: 223%;
}